<div class="row text-center">
  <div class="small-12 collumns">
    <div class="candidateForm">
      <div class="row">
        <form class="round-inputs" name="candidateForm" ng-submit="candidateCtrl.updateCandidateProfile()" novalidate>
          <div class="small-6 columns">
            <div class="small-12 columns">
              <input name="title" ng-model="candidateCtrl.candidateProfile.title" placeholder="title" type="text">
            </div>
            <div class="small-12 columns">
              <input name="description" ng-model="candidateCtrl.candidateProfile.description" placeholder="description" type="textarea">
            </div>
            <div class="small-12 columns">
              <input name="address" ng-model="candidateCtrl.candidateProfile.address" placeholder="address" type="text">
            </div>
            <div class="small-12 columns">
              <input name="city" ng-model="candidateCtrl.candidateProfile.city" placeholder="city" type="text">
            </div>
            <div class="small-12 columns">
              <input name="address" ng-model="candidateCtrl.candidateProfile.address" placeholder="address" type="text">
            </div>
            <div class="small-12 columns">
              <input name="city" ng-model="candidateCtrl.candidateProfile.city" placeholder="city" type="text">
            </div>
            <div class="small-12 columns">
              <input name="zip" ng-model="candidateCtrl.candidateProfile.zip" placeholder="zip" type="text">
            </div>
          </div>
          <div class="small-6 columns">
            <!-- <div class="small-12 columns"> -->
              <input name="minimumSalary" ng-model="candidateCtrl.candidateProfile.minimum_salary" placeholder="minimum salary" type="text">
            <!-- </div>
            <div class="small-12 columns"> -->
              <input name="linkedin" ng-model="candidateCtrl.candidateProfile.linkedin" placeholder="linkedin" type="text">
            <!-- </div>
            <div class="small-12 columns"> -->
              <input name="github" ng-model="candidateCtrl.candidateProfile.github" placeholder="github" type="text">
            <!-- </div>
            <div class="small-12 columns"> -->
              <div class="switch round">
                <div class="row">
                  <div class="small-6 columns">
                    <legend>Willing to relocate?</legend>
                  </div>
                  <div class="small-6 columns">
                    <input id="relocation" type="checkbox" ng-model="candidateCtrl.candidateProfile.can_relocate">
                      <label for="relocation">
                        <span class="switch-on">Yes</span>
                        <span class="switch-off">No</span>
                    </label>
                  </div>
              </div>
            <!-- </div>
            <div class="small-12 columns"> -->
              <div class="switch round">
                <div class="row">
                  <div class="small-6 columns">
                    <legend>Willing to work remotely?</legend>
                  </div>
                  <div class="small-6 columns">
                    <input id="remote" type="checkbox" ng-model="candidateCtrl.candidateProfile.can_remote">
                      <label for="remote">
                        <span class="switch-on">Yes</span>
                        <span class="switch-off">No</span>
                    </label>
                  </div>
                </div>
              </div>
            <!-- </div>
            <div class="small-12 columns"> -->
            <div class="switch round">
              <div class="row">
                <div class="small-6 columns">
                  <legend>Need work visa?</legend>
                </div>
                <div class="small-6 columns">
                  <input id="visa" type="checkbox" ng-model="candidateCtrl.candidateProfile.is_visa_needed">
                    <label for="visa">
                      <span class="switch-on">Yes</span>
                      <span class="switch-off">No</span>
                  </label>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <div class="row">
            <div class="small-12 columns">
              <button class="button round" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- t.integer  "specialization_id"
  t.integer  "company_size_id" -->
