<div class="container">
 <div class="panel full-width">
   <div class="row">
     <div class="large-12 large-text-center columns">
        <h1>Encontre o emprego perfeito</h1>
        <p>Salarios de R$1,000 ate R$20,000 por mes.</p>
        <a href="#" class="button radius" ng-click="">Cadastre-se</a>
      </div>
    </div>
 </div>

 <main>
    <div class="row">
      <div class="large-4 columns">
        <div class="th">
          <!-- <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
          <div class="caption text-center">
            <h3>Cadastre-se</h3>
            <p>blah blah</p>
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="th">
          <!-- <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
          <div class="caption text-center">
            <h3>Encontre companhias interessantes</h3>
            <p>blah</p>
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="th">
          <!-- <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
          <div class="caption text-center">
            <h3>Get hired</h3>
            <p>blah again</p>
          </div>
        </div>
      </div>
    </div>
</main>
