<div id="divider" class="row">
  <div class="large-6 large-offset-3 medium-6 medium-offset-3 small-8 small-offset-1 text-center columns">
    <div id="outside" class="outside panel">
        <h4>Login</h4>
        <div id="inside" class="inside panel" ng-controller="LoginController as loginCtrl">
          <form name="form" class="round-inputs" ng-submit="loginCtrl.Login()">
            <div class="row">
              <div class="small-12 columns">
                <input type="email" placeholder="Email" ng-model="loginCtrl.username" required/>
              </div>
              <div class="small-12 columns">
                <input type="password" placeholder="Password" ng-model="loginCtrl.password" required/>
              </div>
              <div class="small-12 small-centered large-centered columns">
                  <button type="submit" ng-disabled="form.$invalid"  class="button round">Submit</a>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
