<div class="row">
  <div class="medium-6 medium-offset-3 small-8 small-offset-1 text-center columns">
   <div id="outside" class="panel">
      <h4>Login</h4>
      <div id="inside" class="panel">
        <form name="loginForm" class="round-inputs" ng-submit="loginCtrl.login()" ng-controller="LoginController as loginCtrl" novalidate>
          <p id="message" ng-if="loginCtrl.message">{{loginCtrl.message}}</p>
          <div class="row">
            <div ng-messages="loginForm.username.$error" role="alert" ng-show="!loginForm.username.$pristine" >
              <p ng-message="required">Please enter an email address.</p>
              <p ng-message="email">Please enter a correct email address.</p>
            </div>
            <div ng-messages="loginForm.password.$error" role="alert" ng-show="!loginForm.password.$pristine">
              <p ng-message="required">Please enter your password.</p>
            </div>
            <div class="small-12 columns">
              <input type="email" name="username" placeholder="Email" ng-model="loginCtrl.auth.username" required  ng-model-options="{ updateOn: 'blur' }">
            </div>
            <div class="small-12 columns">
              <input type="password" name="password" placeholder="Password" ng-model="loginCtrl.auth.password" required >
            </div>
            <div class="small-12 columns">
              <button type="submit" ng-disabled="loginForm.$invalid" class="button round">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
