<div class="row">
  <div class="medium-6 medium-offset-3 small-8 small-offset-1 text-center columns">
   <div class="panel outter">
      <h4>Login</h4>
      <div class="panel inner">
        <form name="loginForm" class="round-inputs" ng-submit="loginCtrl.login()" novalidate>
          <p class="error" ng-if="loginCtrl.message">{{loginCtrl.message}}</p>
          <div class="row">
            <div ng-messages="loginForm.username.$error" role="alert" ng-hide="loginForm.username.$pristine" >
              <p class="error" ng-message="required">Please enter an email address.</p>
              <p class="error" ng-message="email">Please enter a correct email address.</p>
            </div>
            <div ng-messages="loginForm.password.$error" role="alert" ng-hide="loginForm.password.$pristine">
              <p class="error" ng-message="required">Please enter your password.</p>
            </div>
            <div class="small-12 columns">
              <input type="email" name="username" placeholder="Email" ng-model="loginCtrl.auth.username" required  ng-model-options="{ updateOn: 'blur' }">
            </div>
            <div class="small-12 columns">
              <input type="password" name="password" placeholder="Password" ng-model="loginCtrl.auth.password" required>
            </div>
            <div class="small-12 columns">
              <button type="submit" ng-disabled="loginForm.$invalid" class="button round">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
