.candidateForm {
  margin-top: 20px;
}

.switch-on {
  position: absolute;
  left: -55px;
  top: 10px;
  color: $purple;
  font-weight: bold;
  font-size: 12px;
}

.switch-off {
  position: absolute;
  left: -25px;
  top: 10px;
  color: $purple;
  font-weight: bold;
  font-size: 12px;
}
