// Panels surrounding the input fields
.panel{
  &.outter{
    background-color: $white;
  }
  &.inner{
    background-color: $silver;
  }
}

@media #{$small-only} {
  .panel.outter{
    border-style: none;
    background-color: $silver;
  }
}

// Form error messages
form {
  .ng-dirty.ng-invalid {
    border: .125rem solid;
    border-color: $red;
  }
  p .error {
    color: $red;
  }
}

// Input fields
.round-inputs input {
  border-radius: 62.5rem;
  background-color: $purple;
  height: 3.3125rem;
  text-align: center;
  color: $orange;
}

.round-inputs input:focus {
  color: $black;
}

// Color of the placeholder text
// Do not group these rules
*::-webkit-input-placeholder {
  color: $orange;
}
*:-moz-placeholder {
  color: $orange;
}
*::-moz-placeholder {
  color: $orange;
}
*:-ms-input-placeholder {
  color: $orange;
}

input:focus::-webkit-input-placeholder
{
  color: transparent;
}
input::focus:-moz-placeholder {
  color: transparent;
}
input::focus::-moz-placeholder {
  color: transparent;
}
input::focus:-ms-input-placeholder {
  color: transparent;
}
