[class^="icon-"], [class*=" icon-"] {
    height: 1.5rem;
    width: 2rem;
    display: inline;
    fill: $orange;
    margin-top: .6rem;
    margin-left: .5rem;
    position: absolute;
}

.top-bar .name h1 a {
    margin-left: 1.875rem;
}
