.tabs a{
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
}
