
.panel {
  background: url("/assets/images/business.jpg") no-repeat center center;
  background-size: cover;
  height: 18rem;
}

.panel h1 {
  padding-top: 20px;
  color: $purple;
}

.panel p {
  color: $purple;
}

.works {
  margin-top: 70px;
  margin-bottom: 70px;
}

.th {
  width: 100%;
  height: 200px;
  border-radius: 40px 40px 40px 40px;
}
